{% extends 'base.html.twig' %}

{% block title %}Marques{% endblock %}

{% block body %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">marque</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for marque in marques %}
            <tr>
                <td scope="row">{{marque.id}}</td>
                <td>{{marque.libelle}}</td>
                <td></td>
                <a href="{{path('marque_show',{'id': marque.id})}}" class=btn btn-primary>Detail</a>
                <a href="{{path('marque_edit',{'id': marque.id})}}" class=btn btn-primary>Modifier</a>
                <a href="{{path('marque_delete',{'id': marque.id})}}" class=btn btn-primary>Supprimer</a>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href={{path('marque_create')}} class=btn btn-primary>Ajouter une marque</a>
{% endblock %}
